<template>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Code</th>
          <th scope="col">Name</th>
          <th scope="col">Surname</th>
          <th scope="col">Birthday</th>
          <th scope="col">Gender</th>
          <th scope="col">Education</th>
          <th scope="col">Department</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">#CodeId</th>
          <td>Name</td>
          <td>Surname</td>
          <td>Birthday</td>
          <td>Gender</td>
          <td>Education</td>
          <td>Department</td>
          <td>
            <button
              type="button"
              @click="editOperation(todo)"
              class="btn btn-warning"
            >
              edit
            </button>
            <button
              type="button"
              @click="delOperation(todo)"
              class="btn btn-danger"
            >
              delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>
